h1{
  text-align: center;
  color: red;
  padding: 30px;
}

.rws{
  padding: 25px;
  text-align: center;
  color: blue;
  padding-left: 500px;
  padding-right: 500px;
}

.form-control{
  padding: 30px;
  border-radius: 20px;
  border: black;
}

.idkbro{
  text-align: center;
}
