.formf{
  padding-left: 500px;
  padding-right: 500px;
}

h1{
  text-align: center;
  color: red;
}

button{
  text-align: center;
}

.form-group{
  padding: 20px;
  text-align: center;
  border-radius: 25px;
}
