h1{
  text-align: center;
  color: red;
}

.form-group{
  padding: 20px;
  text-align: center;
  border-radius: 25px;

}

.formp{
  padding-left: 500px;
  padding-right: 500px;
}

.cudlicek{
  border-radius: 15px;
  text-align: center;
}
